@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OneCPO</h1>
    <h4>An application in which you can create customers and add product orders to them</h4>
</div>